---
name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    name: Run Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build nix environment
        uses: ./.github/actions/build-nix-environment
        with:
          github-access-token: ${{  secrets.ACCESS_PUBLIC_RO }}

      - name: Build shell and run git hooks
        run: devenv test
        working-directory: ${{ github.workspace }}
